<div class="container">
  <h2 class="text-right gm-text-primary">Tiện ích nổi bật</h2>

  <div class="mb-5">
    <p class="text-right text-justify">
      <strong class="gm-text-primary">Chung cư TNR Goldmark City</strong> là tổ hợp căn hộ đẳng cấp mang đầy ắp
      màu sắc thiên nhiên – Goldmark City sẽ trao tặng bạn một cuộc sống xanh, một thành phố trong khu vườn. Nơi diễn
      ra những cuộc triển lãm đặc sắc sống động của thiên nhiên và con người. Nơi có những giây phút hòa quyện với
      thiên nhiên bạn sẽ thấy không gì đặc sắc hơn là một cuộc sống hạnh phúc, nhiều tiện ích tại Goldmark City.
    </p>

    <div class="row mb-2 mb-md-4">
      <div class="col-sm-4 mb-2 mb-md-0">
        <img src="../../../assets/images/tien-ich-1.jpg" alt="err?" width="100%">
      </div>

      <div class="col-sm-4 mb-2 mb-md-0">
        <img src="../../../assets/images/tien-ich-2.jpg" alt="err?" width="100%">
      </div>

      <div class="col-sm-4 mb-2 mb-md-0">
        <img src="../../../assets/images/tien-ich-3.jpg" alt="err?" width="100%">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 mb-2 mb-md-0">
        <img src="../../../assets/images/tien-ich-4.jpg" alt="err?" width="100%">
      </div>

      <div class="col-sm-4 mb-2 mb-md-0">
        <img src="../../../assets/images/tien-ich-5.jpg" alt="err?" width="100%">
      </div>

      <div class="col-sm-4 mb-2 mb-md-0">
        <img src="../../../assets/images/tien-ich-6.jpg" alt="err?" width="100%">
      </div>
    </div>
  </div>
</div>
