<div class="container">
  <h2 class="gm-text-primary">Tổng quan dự án.</h2>

  <div class="row mb-5">
    <div class="col-md-6">
      <p class="text-justify">
        <strong class="gm-text-primary">Chung cư TNR Goldmark City</strong> là tổ hợp dự án cao cấp kết hợp giữa căn hộ
        hạng sang – Trung tâm thương mại, trường học và khu văn phòng.
      </p>

      <table class="table table-borderless">
        <ng-container *ngIf="isSapphire; else diamond">
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Vị trí:</span></td>
            <td class="py-1">136 Hồ Tùng Mậu, Bắc Từ Liêm, Hà Nội</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Quản lý & phát triển:</span></td>
            <td class="py-1">TNR Holdings Việt Nam</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Đơn vị thi công:</span></td>
            <td class="py-1">Delta & Conteccon</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Bảo trợ tài chính:</span></td>
            <td class="py-1">Ngân hàng Maritime Bank</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Diện tích căn hộ:</span></td>
            <td class="py-1">74m<sup>2</sup> – 172m<sup>2</sup></td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Giá bán:</span></td>
            <td class="py-1">Từ 28tr/m<sup>2</sup></td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Tổng diện tích:</span></td>
            <td class="py-1">113.909 m<sup>2</sup></td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Tổng diện tích xây dựng:</span></td>
            <td class="py-1">26.597m<sup>2</sup></td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Không gian xanh & cảnh quan:</span></td>
            <td class="py-1">70%</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Ky lục Guinness:</span></td>
            <td class="py-1">Tổ hợp căn hộ có nhiều quảng trường nhất Việt Nam</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Giải thưởng Việt Nam Property Awards:</span>
            </td>
            <td class="py-1">Dự án chung cư cao cấp tốt nhất Hà Nội</td>
          </tr>
        </ng-container>

        <ng-template #diamond>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Vị trí:</span></td>
            <td class="py-1">136 Hồ Tùng Mậu, Bắc Từ Liêm, Hà Nội</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Quản lý & phát triển:</span></td>
            <td class="py-1">TNR Holdings Việt Nam</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Chủ đầu tư:</span></td>
            <td class="py-1">Công ty Cổ phần Thương Mại – Quảng cáo – Xây dựng – Địa ốc Việt Hân</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Đơn vị thi công:</span></td>
            <td class="py-1">Delta & Conteccon</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Mật độ xây dựng:</span></td>
            <td class="py-1">23.3%</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Quy mô dự án:</span></td>
            <td class="py-1">Gồm 9 tòa chia làm 3 khu: 4 tòa Ruby, 4 tòa Sapphire, 1 tòa Diamond</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Diện tích căn hộ:</span></td>
            <td class="py-1">104m<sup>2</sup> – 186m<sup>2</sup> (3 phòng ngủ, 4 phòng ngủ và Duplex 5 phòng ngủ)</td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Giá bán:</span></td>
            <td class="py-1">Từ 28tr/m<sup>2</sup></td>
          </tr>
          <tr>
            <td class="pl-0 py-1"><span class="td-heading gm-text-primary">Bàn giao:</span></td>
            <td class="py-1">Nhận nhà ngay và Đã có sổ đỏ từng căn</td>
          </tr>
        </ng-template>
      </table>
    </div>
    <div class="col-md-6">
      <h3></h3>
      <img src="assets/images/vi-tri-1.jpg" class="cursor-pointer" alt="err?" width="100%" data-toggle="modal"
        data-target="#exampleModal">

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <img src="assets/images/tong-quan.jpg" alt="err?" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
