<div class="container">
  <h2 class="gm-text-primary">Hình ảnh căn hộ mẫu</h2>

  <div class="mb-5">
    <div class="gallery-slider">
      <div class="gallery-slide">
        <img src="assets/images/anh-1.jpg" alt="err?" width="100%">
      </div>

      <div class="gallery-slide">
        <img src="assets/images/anh-2.jpg" alt="err?" width="100%">
      </div>

      <div class="gallery-slide">
        <img src="assets/images/anh-3.jpg" alt="err?" width="100%">
      </div>

      <div class="gallery-slide">
        <img src="assets/images/anh-4.jpg" alt="err?" width="100%">
      </div>

      <div class="gallery-slide">
        <img src="assets/images/anh-5.jpg" alt="err?" width="100%">
      </div>

      <div class="gallery-slide">
        <img src="assets/images/anh-6.jpg" alt="err?" width="100%">
      </div>

      <div class="gallery-slide">
        <img src="assets/images/anh-7.jpg" alt="err?" width="100%">
      </div>

      <div class="gallery-slide">
        <img src="assets/images/anh-8.jpg" alt="err?" width="100%">
      </div>

      <div class="gallery-slide">
        <img src="assets/images/anh-9.jpg" alt="err?" width="100%">
      </div>
      <div class="gallery-slide">
        <img src="assets/images/anh-10.jpg" alt="err?" width="100%">
      </div>
    </div>

    <div class="btn-arrows d-flex justify-content-end">
      <button class="btn btn-arrow prev">
        <img src="assets/images/left-arrow.png" alt="err?">
      </button>
      <button class="btn btn-arrow next">
        <img src="assets/images/right-arrow.png" alt="err?">
      </button>
    </div>
  </div>
</div>
