<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">GoldMark City.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('hero')">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('about')">Tổng quan dự án</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('design')">Thiết kế căn hộ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('policy')">Chính sách</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('contact')">Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
