<div class="container py-3">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
    <img src="../../../assets/images/logo.png" alt="err" width="180px">

    <div class="div mt-3 mt-md-0">
      <div class="d-flex flex-column flex-md-row">
        <a [routerLink]="['/sapphire']" class="btn d-flex align-items-center ml-md-3">
          <img src="../../../assets/images/sapphire-logo-removebg-preview.png" alt="err?" width="220px">
        </a>
        <a [routerLink]="['/diamond']" class="btn d-flex align-items-center">
          <img src="../../../assets/images/logo-diamond_duong_ban_tinified-20201011180245.png" alt="err?" width="200px">
        </a>
      </div>
    </div>
  </div>
</div>